.add_form input {
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  margin-bottom: 15px;
  font-size: 14px;
  margin-right: 25px;
  outline: none;
  border: none;
  font-weight: bold;
}
.add_form button {
  padding: 16px;
  border-radius: 14px;
  background: #065d9b;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
