@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login_form {
  width: 300px;
  height: 300px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: wheat;
  border-radius: 5px;
}
.login_form input {
  border-radius: 5px;
  outline: none;
  height: 30px;
  padding: 5px;
  width: 200px;
  margin-bottom: 15px;
  font-size: 14px;
}
.login_form input:focus {
  outline: none;
  border: 1px solid green;
}
.login_form button {
  height: 30px;
  border-radius: 5px;
  background:#65737e;
  color: black;
}
.login_form span {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: -20px;
}
