@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
body {
  background: #1d2b64; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f8cdda,
    #1d2b64
  );
  background: linear-gradient(to right, #f8cdda, #1d2b64);
  font-family: "Quicksand", sans-serif;
}
